body {
  margin: 0;
  font-family: Garamond, Papyrus, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

.bodyStyle {
  font-family: Arial, Papyrus, 'Times New Roman', Times, serif, Helvetica, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: black;
}

.graphStyle {
  background-color: #f6f6f699;
}

 h1 {
  text-align: center;
  padding-top: 75px;
 }

#graph-area {
  position: relative;
  z-index: 1;
}

#spinner-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

#analyticsSpinnerDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#theActualAnalyticsSpinner {
  width: 10rem;
  height: 10rem;
  color: white !important;
  margin-bottom: 20px;
}

.spinner-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  color: white;
}

#searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#date-inputs {
  display: flex;
  gap: 10px;
}

#start-date, #end-date, #graph-generator, #bar-chart-pop-out, #bar-chart-pop-out-close-button, #line-chart-pop-out, #line-chart-pop-out-close-button, #line-chart-yaxis-submit, #bar-chart-yaxis-submit {
  background-color: white;
  border: none;
  color: black;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(67, 31, 16);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

#start-date:hover, #end-date:hover, #graph-generator:hover, #bar-chart-pop-out:hover, #bar-chart-pop-out-close-button:hover, #line-chart-pop-out:hover, #line-chart-pop-out-close-button:hover, #line-chart-yaxis-submit:hover, #bar-chart-yaxis-submit:hover {
  background-color: grey;
}

#graph-generator {
  cursor: pointer;
  margin-left: 20px;
}

#graph-generator:active, #bar-chart-pop-out:active, #bar-chart-pop-out-close-button:active, #line-chart-pop-out:active, #line-chart-pop-out-close-button:active, #line-chart-yaxis-submit:active, #bar-chart-yaxis-submit:active {
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
}

#graph-generator:focus, #start-date:focus, #end-date:focus, #bar-chart-pop-out:focus, #bar-chart-pop-out-close-button:focus, #line-chart-pop-out:focus, #line-chart-pop-out-close-button:focus, #line-chart-yaxis-submit:focus, #bar-chart-yaxis-submit:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(205, 205, 205);
}

#analytics-jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background: linear-gradient(black, white, black);
  background-size: 200% 100%;
  border: 5px solid white;
  border-radius: 25px;
  padding: 50px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#analyticsHeader {
  color: black;
  text-shadow: 2px 2px 4px #000000;
  font-size: 3em;
  padding: 20px 0;
}


.checkbox-cols {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 20px;
}

.checkbox-cols p {
  color: white;
  margin-bottom: 0;
  text-decoration: underline;
}

#line-chart-title, #bar-chart-title {
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-decoration: underline;
}

#graph-area {
  border: 5px solid white;
  background-color: #ffffff49;
  overflow: hidden;
}

#analytics-intro {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

#line-chart-yvalue-input, #bar-chart-yvalue-input {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  margin-bottom: 7.5px;
}

#line-chart-yvalue-input:focus, #bar-chart-yvalue-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(205, 205, 205);
}